
/* center the content div */
div.form-content{
	width: 80%;
	height: 100%;
}
div#outer {
	display: table;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}
div#middle {
	display: table-cell;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}
div.form{
	display: table;
	margin-left: auto;
	margin-right: auto;
	margin: auto;
	padding: 30px 40px ;
}

div.hints,ul.errorlist {
	width: 170px;
}

div.form-row {
	padding: 5px;
}

div.submit-row {
	display: table;	
	margin: auto;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;	
}

p.errornote ,li {
	background-color: transparent;
	border:3px solid white;
	border-radius: 8px;
	padding: 3px;
	font-size: 80%;
	color: black;
}