body{
	/*background-color:#d7dcdf ;*/
	background-color:#fafafa;
	padding: 0;
	margin: 0;
}

/* common style */
.white-shadow{
	background-color: #f1f1f1;
	border-radius: 5px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
/*** div style ***/
/* body container */
div#container{
	width: 80%;
	margin: auto;
}

div.box1 {
}
div.box2 {
	width: 80%;
}
div.box3 {
}

/* header & content */
div.header ,div.content {
	margin-left: auto;
	margin-right: auto;
}
/* fix header */
div.header {
	position: fixed;
	top: 0;
	width: 80%;
}
/* white padding of content */
div.content{
	padding: 30px 40px ;
}

div.center{
	display: table;
	margin: auto;
}
/* auto ajust the width of wigets and center it */
div.width-ajust{
	display: table;
	margin: auto;
}
/* insert backpace */
div.divider {
	display: inline;
	margin: 3px;
	height: auto;
}
/* form style */
/* make the form likes a table*/
div.a{
	display: table-row;
	margin: auto;
}
div.a div{
	display: table-cell;
	padding: 5px;
	vertical-align: top;
}


/* button style */
div.action_layout{
	width: 100%;
	display: table;
	margin: auto;
	text-align: center;

}

/* table style */
div.scroll-table{
	display: 
	margin: auto;
	max-height: 400px;
	max-width: 800px;
	overflow: auto;
}
div.user-list {
	max-height: 200px;
}
div.table-cell{
	max-height: 30px;
	overflow: auto;
}
/* index style */
ul.index{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: #666
}
li.index {
	float: right;
}
li.index a{
	font-size: 98%;
	display: block;
	color: white;
	text-align: center;
	padding: 4px;
	padding-right: 15px;
	text-decoration: none;
}

ul.vertical_container {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	margin-bottom: 5px;
}

/* form */

.form_action {
	outline: 0 !important;
	display: inline-block;
	background-color: #ddd;
	border-radius: 10px;
	border: 1px solid #aaa;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}
.form_action:hover {
}
.form_action:active:focus {
	background-color: #aaa;
	color: white;
}

/* input box style */
input[type=text], input[type=password] {
	min-height: 20px;
	border: 1px solid #aaa;
	border-radius: 4px;
	background-color: #fff;
	outline: 0 !important;
	padding: 2px;
}
input[type=text]:focus , input[type=password]:focus {
	box-shadow: 0 0 0 2px rgba(0,1,2,0.2);/*,2px 2px 2px 2px rgba(0,0,0,0.12);*/
}
.inputarea {
	min-height: 20px;
	border: 1px solid #aaa;
	border-radius: 4px;
	background-color: #fff;
	outline: 0 !important;
	padding: 2px;
}
.inputarea:focus{
	box-shadow: 0 0 0 2px rgba(0,0,2,0.1);/*,2px 2px 2px 2px rgba(0,0,0,0.12);*/
}

input:invalid{
	box-shadow: 0 0 0 2px rgba(200,1,0,0.1)
}

/* table */
table{
	width: 100%;
	border-collapse: collapse;
}
th{
	min-width: 100px;
	min-height: 30px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 1px solid #999;
}

td{
	min-width: 100px;
	min-height: 30px;
	max-height: 30px;
	word-wrap:break-word;
	border: 1px solid #999;
	border-collapse: collapse;
}

th:first-child,td:first-child {
	border-left: none;
	text-align: center;
}
th:last-child,td:last-child {
	border-right: none;
}
table#personal_info {
	background-color: #fff;
	overflow: auto;
}
table#personal_info th {
	color: white;
	background-color: #aaa;
}
table#personal_info tr:nth-child(even) {
	background-color: #fff;
}
table#personal_info tr:nth-child(odd) {
	background-color: #eee;
}


/* text */
pre{
	display: inline;
}
pre.onbutton{
	display: inline;
	padding: 2px;
}
.stroke{
	color: white;
	text-shadow:
	-1px -1px 0 #000,  
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

.sub_info{
	color: #de703c ;
	display: inline;
}

a {
	color: black;
	background-color: transparent;
	text-decoration: underline;
}
a:visited {
	color: grey;
}
/* button like link */
.button-like {
	color: #555;
	text-decoration: none;
	padding: 0px 4px 0px 4px;
	outline: 0 !important;
	display: inline-block;
	background-color: #ddd;
	border-radius: 40px;
	border: 1px solid #aaa;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}
.button-like:active:focus {
	background-color: #aaa;
	color: white;	
}

a.button-like:visited {
	color: #555;
}
.circle{
	border-radius: 50%;
}