{% extends "user/base.html" %}

{% block title %}Header{% endblock title %}

{% block header %}
			<div class="box1 header">
				<ul class="index">
					<li class="index"><a href="{% url 'user:logout'                %}">Logout</a></li>
					{% if request.user.profile.user_level >= 7 %}
					<li class="index"><a href="{% url 'admin:index'                %}">Admin</a></li>
					{% endif %}
					<li class="index"><a href="{% url 'user:profile' user.username %}">Profile</a></li>
					<li class="index"><a href="{% url 'user:home'                  %}">{{ user.username }}</a></li>
					{% if request.user.profile.user_level >= 7 %}
					{% endif %}
				</ul>
			</div>
			<br>
{% endblock header %}


