{% extends "user/login.html" %}

{% block authenticated-note %}
{% endblock authenticated-note %}

{% block normal-errors %} 
{% if form.errors.items %}
	{% for e in form.old_password.errors %}
	{% if e != 'This field is required.' %}
	<p class="errornote">
		{{ e }}
	</p>
	{% endif %}
	{% endfor %}

	{% for e in form.new_password1.errors %}
	{% if e != 'This field is required.' %}
	<p class="errornote">
		{{ e }}
	</p>
	{% endif %}
	{% endfor %}

	{% for e in form.new_password2.errors %}
	{% if e != 'This field is required.' %}
	<p class="errornote">
		{{ e }}
	</p>
	{% endif %}
	{% endfor %}
{% endif %}
{% endblock normal-errors %} 



{% block form-main %}
			<form method="POST"  id="change-password-form">
			    {% csrf_token %}
                <div class="form-row">
                    {{ form.old_password.label_tag }}<br>
                    {{ form.old_password }}
                </div>
                <div class="form-row">
                    {{ form.new_password1.label_tag }}<br>
                    {{ form.new_password1 }}
                </div>
                <div class="form-row">
                    {{ form.new_password2.label_tag }}<br>
                    {{ form.new_password2 }}
                </div>
                <input type="hidden" name="next" value="{% url 'user:home' %}"  />
            </form>
            <div class="submit-row">
                <input class="form_action" type="submit" name="signup" value="Submit" form="change-password-form" />
                <div class="divider"></div>
                <button class="form_action" type="submit" name="Cancel" onclick="window.history.back()" >
                    Cancel</button>
            </div>
{% endblock form-main %}
