{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'user/header.css' %}">
</head>
<body>
	<div class="header">
		<p> Welcome {{ user.username }} </p>
		<ul id="index">
			<li id="index"><a href="{% url 'user:home'    user.username %}">Home</a></li>
			<li id="index"><a href="{% url 'user:profile' user.username %}">Profile</a></li>
			<li id="index"><a href="{% url 'user:home'    user.username %}">Logout</a></li>
		</ul>
	</div>

</body>
</html>