{% extends "user/base_head.html" %}

{% block title %}Home{% endblock %}

{% block content %}
            <br>
            <div class="box1 content white-shadow">
                <p>User</p>
                <hr>
                <br>
                <div class="box2 center" >
	            	<div class="scroll-table user-list">
			            <table class="list-like">
			            	<thead>
				            	<tr>
				            		<th>User ID</th>
				            		<th>Full Name</th>
				            		<th>Email</th>
				            		<th>Last Login</th>
				            	</tr>
			            	</thead>
			            	{% for user in userset %}
			            	<tr>
			            		<td class="left"><a class="" href="{% url 'user:profile' user.username%}">{{ user.username }}</a></td>
			            		<td>{{ user.first_name }} {{ user.last_name}}</td>
			            		<td>{{ user.email}}</td>
			            		<td class="right">{{ user.last_login|date:"d/m/Y H:i:s"  }}</td>
			            	</tr>
			            	{% endfor %}
			            </table>
		            </div>
	            </div>
            </div>
            <br>
            <div class="box1 content white-shadow">
            	<p>Submission <a class="stroked button-like" href="{% url 'forms:create' %}"><b>+</b></a></p>
            	<hr>
            	<br>
                <div class="box2 center">
	            	<div class="scroll-table user-list">
			            <table class="list-like">
			            	<tr>
			            		<th>Info ID</th>
			            		<th>Creator</th>
			            		<th>Create Time</th>
			            		<th>Last Save Time</th>
			            	</tr>
			            	{% for stats in infosset %}
			            	<tr>
			            		<td><a class="" href="{% url 'forms:edit' stats.info.pk %}">{{ stats.info.pk }} </a></td>
			            		<td><a class="" href="{% url 'user:profile' stats.creator.username %}">{{ stats.creator.username }}</a></td>
			            		<td>{{ stats.create_time|date:"d/m/Y H:i:s"  }}</td>
			            		<td>{{ stats.save_time|date:"d/m/Y H:i:s"  }}</td>
			            	</tr>
			            	{% endfor %}
			            </table>
		            </div>
		            {% if request.user.profile.user_level >= 7 %}
		            <div class="center ">
			            <br>
			            <div class="width-ajust">
			            <a class="button-like" href="{% url 'forms:index' %}" ><div><pre class="onbutton"> Details </pre></div></a>
			            </div>
		            </div>
		            {% endif %}
	            </div>
            </div>
{% endblock content %}
