{% extends "user/base.html" %}

{% load static %}

{% block title %}Login{% endblock %}

{% block extrastyle %}<link rel="stylesheet" type="text/css" href="{% static "user/login.css" %}" />
{% endblock %}

{% block body %}

<div id="outer">
    <div id="middle">
        <div class="form white_shadow">
        {% block form-hints %}
            <div class="hints">
                {% block authenticated-note %}
                {% if user.is_authenticated %}
                <p class="errornote">
                    You are authenticated as <a href="{% url 'user:home' %}">{{ user.username }}</a>. Would you like to login to a different account?
                </p>
                {% endif %}
                {% endblock authenticated-note %}

                {% block normal-errors %} 
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="errornote">
                    {{ error }}
                </p>
                {% endfor %}
                {% endif %} 
                {% endblock normal-errors %} 
            </div>
        {% endblock form-hints %}

        {% block form-main %}
            <form method="post" id="signup-re-form" action="{% url 'user:register' %}" >{% csrf_token %}</form>
            <form  method="post" id="login-form" action="{% url 'user:login' %}"> 
                {% csrf_token %}           
                <div class="form-row">
                    {{ form.username.label_tag }}<br>
                    {{ form.username }}
                </div>
                <div class="form-row">
                    {{ form.password.label_tag }}<br>
                    {{ form.password }}
                </div>
                <input type="hidden" name="next" value="{% url 'user:home' %}" form="login-form" />
            </form>
            <div class="submit-row">
                <input class="form_action" type="submit" name="login" value=" Login " form="login-form" />
                <div class="divider"></div>
                <input class="form_action" type="submit" name="signup" value="Sign up"  form="signup-re-form" />
            </div>

        {% endblock form-main %}
        </div>
    </div>     
</div>

{% endblock body %}
