{% extends "user/base_head.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
            <br>
            <div class="box1 content white-shadow">
                <p>Profile</p>
                <hr><br>
                <div class="box2 center">
                    <form method="post" id = "uprofile" action="{{ request.path }}">
                        {% csrf_token %} 
                        <div class="box3 width-ajust">
                            {% for field in user_form %}
                            <div class="a">
                                <div>{{ field.label }}</div>
                                <div>:</div>
                                <div><input type="text" class="inputarea" name="{{ field.name }}" value="{{ field.value }}"
                                    {% if permisson < 0 %} readonly 
                                    {% elif field.name == "username" %} readonly
                                    {% endif %} required/>
                                </div>
                            </div>
                            {% endfor %}

                            {% for field in profile_form %}
                            <div class="a">
                                <div>{{ field.label }}</div>
                                <div>:</div>
                                <div><input type="text" class="inputarea" name="{{ field.name }}" value="{{ field.value }}"
                                    {% if permisson < 0 %} readonly 
                                    {% elif field.name == "user_level" and permisson < 7 %} readonly {% endif %} />
                                </div>
                            </div>
                            {% endfor %}

                            <div class="a">
                                <div>Password</div>
                                <div>:</div>
                                <div><input type="text" class="inputarea" value="********"
                                    disabled/>
                                    {% if user_form.username.value == request.user.username %}
                                    <a class="button-like circle" href="{% url 'user:change_password' %}"
                                        title="Change password">O</a>
                                    {% elif permisson >= 7 %}
                                    <a class="button-like circle" href="{% url 'user:set_password' user_form.username.value %}"
                                        title="Set password">O</a>
                                    {% endif %}
                                </div>
                            </div>
                            <br>

                        </div>
                    </form>
                </div>
                <form id="action" method="POST">
                    {% csrf_token %} 
                    <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}" />
                </form>
                <div class="action_layout">
                    <button class="form_action" type="submit" form="uprofile" name="save" 
                            {% if permisson < 0 %} disabled {% endif %}>
                            Save
                    </button> 
                    <div class="divider"></div>
                    <button class="form_action" type="submit" form="action" name="back" >  
                            Back
                    </button>
                </div>

            </div>
{% endblock content %}
