{% extends "user/base_head.html" %}

{% block title %}Create Info{% endblock %}

{% block content %}
            <br>
            <div class="content white_shadow">
                <p>Form Edit</p>
                <hr>
                <br>

                <div class="form_center">
                    <form method="post" id="info_submit">
                        {% csrf_token %} 
                        {% for field in user_form %}
                        <div class="a">
                            <div>{{ field.label }}</div>
                            <div>:</div>
                            <div><input type="text" class="inputarea" name="{{ field.name }}" value="{{ field.value }}"
                                {% if permisson < 0 %} readonly {% endif %} required/>
                            </div>
                        </div>
                        {% endfor %}

                        {% if permisson and rqtype == 'edit' %}
                        {% for field in user_sub_form %}
                        <div class="a">
                            <div><p class="sub_info">{{ field.label }}</p></div>
                            <div>:</div>
                            <div><input type="text" class="inputarea" name="{{ field.name }}" value="{{ field.value }}"
                                {% if permisson < 0 %} readonly {% endif %} />
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}


                    </form>
                </div>

                <br>
                <div class="action_layout">
                    <button class="form_action" type="submit" name="Submit" form="info_submit" title="Once submitted,you can't edit again" 
                            onclick="alert('Save successfully!')"
                            {% if permisson < 0 %} disabled {% endif %}  >
                            Submit </button>
                </div>
            </div>
            <br>
{% endblock content %}
