{% extends "forms/create.html" %}

{% block title %}Edit Info{% endblock %}

{% block subcontent %}
            <div class="content white_shadow">
                <p>History </p>
                <hr>
                <br>
                <div class="center">
                    <table id="personal_info">
                        <tr>
                            <th>Editor</th>
                            <th>Edit Content</th>
                            <th>Edit Time</th>
                        </tr>
                        {% for hist in historyset %}
                        <tr>
                            <td>{{ hist.edit_user.username }}</td>
                            <td>{{ hist.edit_content }}</td>
                            <td>{{ hist.edit_time }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
{% endblock subcontent %}
