{% extends "forms/submit_base.html" %}

{% block title %}Forms Index{% endblock %}

{% block form_title %}Forms List{% endblock %}

{% block input_control %} required {% endblock input_control %}
            {% block form_content %}
                <div class="center" >
                    <div class="scroll-table">
                        <table id="personal_info">
                            <tr class="thead-scroll">
                            {% for field in infosset.0 %}
                                <th>{{ field.name }}</th>
                            {% endfor %}
                            </tr>
                            {% for info in infosset %}
                            <tr>
                                {% for field in  info %}
                                <td>{{ field.value }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table> 
                    </div>
                </div>
            {% endblock form_content %}

            {% block button %}
                <div class="action_layout">
                    <form id="save_as_csv" method="post">{% csrf_token %}</form>
                    <button class="form_action" type="submit" name="download" form="save_as_csv" >
                            Download</button>
                    <button class="form_action" type="submit" name="Back" onclick="window.history.back()" >
                            <pre>  </pre>Back<pre>  </pre></button>
   
                </div>
            {% endblock button %}
            