{% extends "forms/submit_base.html" %}

{% block title %}Forms Index{% endblock %}

{% block form_title %}Forms List{% endblock %}

{% block input_control %} required {% endblock input_control %}
            {% block form_content %}
                <div class="center" >
                    <div class="scroll-table">
                        <form id="selected_list" method="post">
                            {% csrf_token %}
                            <table id="personal_info">
                                {% for pk,info in infosset.items %}
                                {% if forloop.first %}
                                <tr class="thead-scroll">
                                    <th>Select</th>
                                    {% for field in info %}
                                    <th>{{ field.name }}</th>
                                    {% endfor %}
                                </tr>
                                {% endif %}
                                <tr>
                                    <td>
                                        <input type="checkbox" name="info_{{ pk }}" value="{{ pk }}"  />
                                    </td>
                                    {% for field in info %}
                                    <td>{{ field.value }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </table> 
                        </form>
                    </div>
                </div>
            {% endblock form_content %}

            {% block button %}
                <br>
                <div class="action_layout">
                    <button class="form_action" type="submit" name="download" form="selected_list" >
                            Download</button>
                    <div class="divider" />
                    <button class="form_action" type="submit" name="delete" form="selected_list" >
                            <pre> </pre>Delete<pre> </pre></button>
                    <div class="divider" />
                    <button class="form_action" type="submit" name="Back" onclick="window.history.back()" >
                            <pre>  </pre>Back<pre>  </pre></button>
   
                </div>
            {% endblock button %}
            