{% extends "forms/submit_base.html" %}

{% block title %}New Form{% endblock %}

{% block form_title %}Muti-Submission Forbidden!{% endblock %}

{% block form_content %}{% endblock form_content %}

            {% block button %}
                <div class="action_layout">
                    <button class="form_action" type="submit" name="Cancel" onclick="window.history.back()" >
                            Cancel</button>
   
                </div>
            {% endblock button %}
            